@font-face {
    font-family: primary-font;
    src: url(circular-std-medium-500.ttf);
}

:root {
    /* scroll */
    scroll-behavior: smooth;

    /* color theme */
    --bg-color: #F6F7F8;
    --bg-color-2: white;
    --nav-color: rgba(210, 210, 210, 0.6);
    --primary-color: #00B6F0;
    --rgba-primary-color: 0, 182, 240;
    --secondary-color: #F2CD03;
    --text-color-1: rgb(32, 38, 42);
    --text-color-2: rgb(92, 92, 92);
    --shadow: 0px 2px 5px 2px rgba(50, 50, 50, 0.05);
    --shadow-hover: 0px 4px 5px 2px rgba(50, 50, 50, 0.05);

    /* responsive typography */
    --step--5: clamp(0.42rem, calc(0.50rem + 0.05vw), 0.62rem);
    --step--4: clamp(0.54rem, calc(0.62rem + 0.14vw), 0.74rem);
    --step--3: clamp(0.67rem, calc(0.60rem + 0.06vw), 0.62rem);
    --step--2: clamp(0.84rem, calc(0.72rem + 0.10vw), 0.74rem);
    --step--1: clamp(1.05rem, calc(0.85rem + 0.16vw), 0.89rem);
    --step-0: clamp(1.06rem, calc(1.01rem + 0.25vw), 1.31rem);
    --step-1: clamp(1.28rem, calc(1.20rem + 0.37vw), 1.64rem);
    --step-2: clamp(1.53rem, calc(1.43rem + 0.52vw), 2.05rem);
    --step-3: clamp(1.84rem, calc(1.69rem + 0.73vw), 2.56rem);
    --step-4: clamp(2.20rem, calc(2.00rem + 1.00vw), 3.20rem);
    --step-5: clamp(2.64rem, calc(2.37rem + 1.36vw), 4.01rem);
}


/* css reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


/* default settings */
body {
    font-family: primary-font;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

h3,
h4,
a,
p {
    color: var(--text-color-2);
}

h1 {
    color: var(--text-color-1);
    font-size: var(--step-4);
    text-transform: uppercase;
    line-height: 1.2em;
    padding: .5em;
}

h2 {
    color: var(--text-color-1);
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
}

p {
    font-size: var(--step-0);
    line-height: 1.5em;
    font-weight: lighter;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all .2s ease-in;
}

a:hover {
    color: var(--text-color-1);
}

button {
    background-color: transparent;
    color: var(--primary-color);
    font-size: var(--step--1);
    font-weight: bold;
    border-radius: 2em;
    border: .1px solid var(--primary-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

section {
    padding: 4em;
}


/* main */
main {
    position: relative;
}


/* header */
nav {
    background-color: var(--nav-color);
    font-size: var(--step--2);
    width: 100vw;
    height: 50px;
    padding: 0 6vw;
    position: fixed;
    transition: height .2s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.button-home {
    font-size: var(--step--2);
    padding: .3rem 1rem;
}

nav ul {
    display: flex;
    gap: 3em;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color-2);
}

nav ul li a:hover {
    color: var(--text-color-1);
}

nav ul li a:hover::before {
    content: "";
    list-style: 1px;
    width: .35em;
    height: .35em;
}

.hamburger {
    display: none;
}


/* section 1 - background */
.bg {
    background: linear-gradient(var(--bg-color), var(--primary-color), var(--bg-color));
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    z-index: -1;
}

.bgshape-1,
.bgshape-2 {
    background-color: var(--secondary-color);
}

.bgshape-1 {
    width: 50em;
    clip-path: ellipse(20% 24% at 0% 55%);
}

.bgshape-2 {
    width: 70em;
    clip-path: ellipse(20% 19% at 100% 72%);
}


/* section 1 - hero */
#section1 {
    width: max(calc(10vw + 20em), 65vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto 7em;
}

.animate-text {
    overflow: hidden;
}

.animate-text span {
    display: none;
}

span.text-in {
    display: block;
    animation: textIn .5s ease;
}

span.text-out {
    animation: textOut .5s ease;
}


/* section 2 - about me */
#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#section2 img {
    width: max(18em, calc(20em + 5vw));
}

.about-me {
    width: max(calc(10vw + 16em), 40vw);
    display: flex;
    flex-direction: column;
    gap: 1em;
}


/* section 3 - portofolios */
#section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.portos {
    margin: 2em 0;
    width: 85vw;
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
}

#porto {
    width: calc(11em + 16vw);
    height: calc(7.3em + 10.6vw);
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

#porto:nth-child(4),
#porto:nth-child(5),
#porto:nth-child(6) {
    margin-bottom: 1px;
}

.img-porto {
    width: 100%;
    aspect-ratio: 6 / 4;
    border-radius: 6px;
    box-shadow: var(--shadow);
}

.desc-porto {
    clip-path: polygon(41% 8%, 28% 7%, 11% 12%, 4% 27%, 5% 43%, 8% 54%, 6% 64%, 3% 72%, 4% 80%, 8% 89%, 15% 96%, 28% 97%, 37% 95%, 45% 96%, 56% 95%, 66% 97%, 76% 98%, 86% 95%, 95% 89%, 99% 80%, 96% 68%, 92% 57%, 91% 47%, 92% 36%, 93% 27%, 94% 18%, 91% 9%, 81% 4%, 71% 3%, 61% 6%, 52% 11%);
    background-color: var(--bg-color);
    display: none;
    padding: 2em;
}

.porto-button {
    padding: .8em 3em;
}


/* section 4 - blog */
#section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.cards {
    margin: 2em 0;
    display: flex;
    gap: 5vw;
}

.cards div {
    background-color: var(--bg-color-2);
    width: calc(11em + 12vw);
    height: calc(20em + 16vw);
    border-radius: 3px;
    box-shadow: var(--shadow);
}

.cards div:hover {
    margin-top: -2px;
    box-shadow: var(--shadow-hover);
}

.cards img {
    width: calc(11em + 12vw);
    height: calc(11em + 12vw);
    border-radius: 3px 3px 0 0;
}

.cards span {
    display: inline-block;
    text-align: start;
    padding: 1rem;
}


/* section 5 - team */
#section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.teams {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
    text-align: center;
}

.teams img {
    margin-bottom: 1em;
    width: 10em;
    height: 10em;
    border-radius: 10em;
}


/* section 6 - contact */
#section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
}

#section6 p {
    margin-bottom: 2em;
}

form {
    width: max(70vw, 270px);
}

fieldset {
    padding: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .3em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5em;
}

legend {
    color: var(--text-color-2);
    text-align: center;
}

fieldset input,
fieldset textarea {
    color: var(--text-color-2);
    font-size: var(--step--2);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .2em;
    padding: 0 1em;
    outline: none;
}

fieldset input {
    height: 2.5em;
}

fieldset textarea {
    height: 20em;
    padding: 1em;
    resize: none;
}

fieldset input::placeholder,
fieldset textarea::placeholder {
    font-size: var(--step--2);
    font-style: italic;
    opacity: .22;
}

fieldset input[type="submit"] {
    color: var(--bg-color);
    background-color: var(--primary-color);
    height: 3.2rem;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}


/* footer */
footer {
    background-color: var(--text-color-1);
    height: 3em;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: var(--step--3);
    color: var(--bg-color);
}

.social-media {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.social-media img {
    width: 1.5em;
}


/* ANIMATION */
@keyframes textIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);

    }
}


/* MEDIA QUERY TABLET */
@media (max-width: 48em) {
    .nav-header {
        justify-content: space-between;
    }

    .nav-menu a {
        display: none;
    }

    /* hamburger menu */
    .hamburger {
        height: 20px;
        display: flex;
        position: absolute;
        top: 1.6em;
        right: 5vw;
    }

    .hamburger>*,
    .hamburger>*::before,
    .hamburger>*::after {
        background-color: var(--primary-color);
        width: 20px;
        height: 2px;
        border-radius: 2px;
        transition: all .5s;
        position: relative;
    }

    .hamburger>*::before,
    .hamburger>*::after {
        content: '';
        position: absolute;
    }

    .hamburger>*::before {
        bottom: 7px;
    }

    .hamburger>*::after {
        top: 7px;
    }


    /* hamburger menu animation */
    .hamburger span {
        transform-origin: 50% 0;
    }

    .hamburger span::after {
        transform-origin: 32% -105%;
    }


    /* when nav is active */
    main.active {
        filter: blur(1px);
    }

    .active .button-home {
        display: none;
    }

    .active .hamburger span::before {
        transform: scale(0);
        opacity: 0;
    }

    .active .hamburger span {
        transform: rotate(45deg);
    }

    .active .hamburger span::after {
        transform: rotate(-90deg);
    }

    .nav-header.active {
        height: 100vh;
        transition: all .3s ease-out;
    }

    .active ul {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .active a {
        display: inline;
        font-size: 1.5rem;
    }

    /* section 2 - about me */
    #section2 {
        flex-direction: column;
        text-align: center;
    }

    /* section 3 - portofolios */
    .portos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: .5em;
    }

    /* section 4 - blog */
    .cards {
        flex-direction: column;
    }

    .cards div:hover {
        margin-top: 0;
        box-shadow: var(--shadow);
    }

    /* section 5 - team */
    .teams {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}


/* MEDIA QUERY MOBILE */
@media (max-width: 30em) {

    /* section 3 - portofolios */
    .portos {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    /* section 5 - team */
    .teams {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}